@model System.Collections.Generic.IEnumerable<CafeSystem.Models.Employee>

@{
    ViewData["Title"] = "Employees";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<hr>

@if (Model.Count() == 0)
{
    <span class="text-primary">No employees found, you can </span>
    <a class="btn btn-link" asp-action="Upsert">register new employee.</a>
}
else
{
    <table class="table table-striped">
        <tr>
            <th style="width: 40%">Name</th>
            <th style="width: 20%">Phone</th>
            <th style="width: 10%">Password</th>
            <th style="width: 5%">Role</th>
            <th>Actions</th>
        </tr>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Name &nbsp; @employee.Surname</td>
                <td>@employee.Phone</td>
                <td>@employee.Password</td>
                <td>@employee.Role.ToString()</td>
                <td class="btn-group">
                    <a asp-action="Upsert" asp-route-id="@employee.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </table>
    
    <hr>
    
    <a class="btn btn-primary" asp-action="Upsert">Register new employee</a>
}
