@model System.Collections.Generic.IEnumerable<CafeSystem.Models.Dish>

@{
    ViewData["Title"] = "Dishes";
    Layout = "_Layout";
}

<h2>@ViewData["Title"]</h2>

<hr>

@if (Model.Count() != 0)
{
    <table class="table table-striped">
        <tr>
            <th style="width: 40%">Name</th>
            <th style="width: 20%">Category</th>
            <th style="width: 15%">Price</th>
            <th>Actions</th>
        </tr>
        @foreach (var dish in Model)
        {
            <tr>
                <td>@dish.Name</td>
                <td>@dish.Category</td>
                <td>@dish.Price</td>
                <td class="btn-group">
                    <a asp-action="Upsert" asp-route-id="@dish.Id" class="btn btn-outline-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@dish.Id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </table>

    <hr>
    
    <a class="btn btn-primary" asp-action="Upsert">Create new dish</a>
}
else
{
    <span class="text-primary">No dishes found, you can </span>
    <a class="btn btn-link" asp-action="Upsert">create new dish.</a>
}
